body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar{
  width: 12px;     /* Tamaño del scroll en vertical */
  height: 12px;    /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
  background: hsl(222, 13%, 55%);
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: hsl(222, 13%, 45%);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: hsl(222, 13%, 35%);
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
  background: hsl(222, 13%, 75%);
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
background: hsl(222, 13%, 65%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

a:hover, a:focus {
  background-size: 100% 2px;
}

.backgroundYellow{
  background-color: hsl(50, 70%, 96%);
  width: 100vw;
  padding: 1em;
  text-align: center;
}

.formLogin{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1em auto;
  padding: 2em;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.home-slider{
  background-color: #21242b;
  width: 100vw;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: row;
}

.home-slider-welcome{
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  padding: 0 8%;
  justify-content: center;
}

.home-slider-welcome--title{
  font-size: 64px;
  color: #C0B3A0;
  line-height: 0%;
}

.home-slider-welcome--phrase{
  font-size: 32px;
  color:#fff;
  margin: 0px;
}

.home-slider-welcome--button{
  padding: 30px 0;
}

.home-slider-image{
  width: 50%;
  display: flex;
}

.home-slider-image img{
  width: 80%;
}

.home-what-is-readit{
  padding: 20px;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: row;
}

.home-what-is-readit-text{
  width: 60%;
  height: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.home-what-is-readit-text h2{
  font-size: 32px;
  color: #3F3250;
}

.home-what-is-readit-text p{
  font-size: 24px;
}

.home-what-is-readit-image{
  height: 80%;
  width: 40%;
  padding: 20px;
  display: flex;
  align-items: center;
	justify-content: center;
}

.home-what-is-readit-image__img{
  width: 90%;
  display: block;
  box-shadow: 0 0 10px hsl(34, 43%, 10%);
  transition:all .5s ease-in-out;
}
.home-what-is-readit-image__img:hover {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}

.home-services{
  padding: 20px;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

