body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

a:hover, a:focus {
  background-size: 100% 2px;
}

.backgroundYellow{
  background-color: hsl(50, 70%, 96%);
  width: 100vw;
  padding: 1em;
  text-align: center;
}

.formLogin{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1em auto;
  padding: 2em;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.home-slider{
  background-color: #22252C;
  width: 100vw;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: row;
}

.home-slider-welcome{
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  padding: 10% 8%;
}

.home-slider-welcome--title{
  font-size: 64px;
  color: #C0B3A0;
  line-height: 0%;
}

.home-slider-welcome--phrase{
  font-size: 32px;
  color:#fff;
  margin: 0px;
}

.home-slider-welcome--button{
  padding: 30px 0;
}

.home-slider-image{
  width: 50%;
  display: flex;
}

.home-slider-image img{
  width: 80%;
}

.home-what-is-readit{
  height: 100vh;
}

.home-services{
  height: 100vh;
}